doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/sticky-footer-navbar.css')
		link(rel='script', href='/js/bootstrap.min.js')
	body
		include header
	
		block content
		
		include footer