doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/sticky-footer-navbar.css')
		script(src='/js/lib/jquery-1.11.1.min.js')
		script(src='/js/lib/bootstrap.min.js')
		script(src='/js/misc/util.js')
		script(src='/js/misc/temp-space.js')
	body
		//include header
	
		block content
		
		include footer