<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/sticky-footer-navbar.css' />
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<img src="/images/logo.png" alt="Responsive image" height="160" width="160" class="img-responsive center-block"></img>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<blockquote>
							<strong><%= title %></strong> is an on the fly, easy to use content sharing agent which allows you to upload and share files on a sharable space
						</blockquote>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h1 class="text-center">The space you tried to access is not available</h1>
		</div>
	</body>
	<div class="footer">
		<div class="container">
			<p class="text-muted text-center">
				&copy;&nbsp;
				<a href='#'>Daniel Arenhage</a> 2014
			</p>
		</div>
	</div>
</html>