<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>
	
		<!-- jquery -->
		<script type="text/javascript" src='/js/lib/jquery-1.11.1.min.js'></script>
		
		<!-- bootstrap -->
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/sticky-footer-navbar.css' />
		<script type="text/javascript" src='/js/lib/bootstrap.min.js'></script>
		
		<!-- share-button -->
		<link rel="stylesheet" href="/stylesheets/jquery.share.css">
		<script type="text/javascript" src="/js/lib/jquery.share.js"></script>
		
		<!-- custom -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/js/misc/util.js'></script>
		<script src='/js/misc/temp-space.js'></script>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<a href="/">
					<img src="/images/logo.png" alt="Responsive image" height="160" width="160" class="img-responsive center-block"></img>
				</a>
				<div class="page-header">
					<h3 class="text-center"><strong><%= title %></strong> is what it is... a temporary sharable file space.</h3>
				</div>
			</div>
		</div>
		
		<div class="container">
			<h1 class="text-center">The space you tried to access is not available</h1>
			<p class="text-center">To create a new space, go back to <a href="/">home</a> page</p>
		</div>
		
		<div style="padding-top:5px;">
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div id="social-bar" class="social-bar text-center"></div>
						</div>
						<div class="col-md-6">
							<p class="text-muted text-center">
								&copy;&nbsp;
								<a href='#'>Daniel Arenhage</a> 2014
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(function() {
				$('#social-bar').share({
			        networks: ['email','pinterest','googleplus','digg','facebook','twitter','linkedin'],
			        theme: 'square',
			        urlToShare: window.location.href
			    });
			});
		</script>
		
	</body>
</html>