extends layout
block content
	script(src='/js/space.js', type='text/javascript')
	
	div.jumbotron
		div.container
			img(src="/images/logo.png" alt="Responsive image" height="160" width="160").img-responsive.center-block
			div.row
				div.col-md-6.col-md-offset-3
					blockquote <strong>#{title}</strong> is an on the fly, easy to use content sharing agent which allows you to upload and share files on a sharable space
	
	table.table.table-striped
		thead
			tr
				th identifier
		tbody
			if space
				each item in space.items.length ? space.items : ['There are no values'] 
					tr
						td #{item}