extends layout
block content
	script(src='/js/space.js', type='text/javascript')
	
	div.jumbotron
		div.container
			img(src="/images/logo.png" alt="Responsive image" height="160" width="160").img-responsive.center-block
			div.row
				div.col-md-6.col-md-offset-3
					blockquote <strong>#{title}</strong> is an on the fly, easy to use content sharing agent which allows you to upload and share files on a sharable space
	
	form(action="/upload" method="post" enctype="multipart/form-data")
		input(type="file" name="file" id="file")
		br
		input(type="submit" name="submit" value="Submit")
	
	if space
		table.table.table-striped
			thead
				tr
					th identifier
			tbody
				each item in space.items.length ? space.items : ['There are no values'] 
					tr
						td #{item}
	else
		h3.text-center
			span.glyphicon.glyphicon-info-sign
			p The Space you have requested is no longer available 