body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.jumbotron {
	background-color: #db8d3c !important;
	margin-bottom: 0 !important;
}

.btnSpacing {
	margin: 2px;
}