body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.jumbotron {
	background-color: #db8d3c !important;
	margin-bottom: 0 !important;
}

.btnSpacing {
	margin: 2px;
}

.operations {
	margin-bottom: 5px;
}

.label-spacing {
	margin-right: 5px;
}

.social-bar {
/* 	position: absolute; */
/* 	bottom: 5px; */
/* 	left: 10px; */
/* 	z-index: 1; */
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}